<div class="main-section_wrapper">
  <h2 class="title">New meeting</h2>
  <h3 class="sub-title">Meeting type</h3>
  <div>
    <button-group class="button-group_wrapper" (change)="onButtonGroupChange($event)">
      <button-group-item id="board-meeting" [isActive]="true">Board meeting</button-group-item>
      <button-group-item id="general-assemebly">General assembly</button-group-item>
      <button-group-item id="other">Other</button-group-item>
    </button-group>
  </div>
  <mat-label for="meeting-name" class="sub-title">Meeting name</mat-label>
  <mat-form-field class="input_wrapper meeting-name_input_wrapper">
    <input id="meeting-name" matInput placeholder="Add meeting name" [formControl]="meetingName" (change)="onChange()">
    <button mat-icon-button matSuffix (click)="onClearMeetingNameField()" type="button">
      <mat-icon class="clear_icon">clear</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <mat-label for="date" class="sub-title">Date and time</mat-label>
    <div>
      <mat-form-field class="input_wrapper">
        <input id="date" matInput [matDatepicker]="picker" (dateChange)="onDateChange()">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select>
          <mat-option *ngFor="let point of points" [value]="point.value">
            {{point.time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="time_dash"> - </span>
      <mat-form-field>
        <mat-select>
          <mat-option *ngFor="let point of points" [value]="point.value">
            {{point.time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h3 class="sub-title">Location</h3>
    <radio-button-group class="radio-button-group_wrapper" (change)="onRadioButtonGroupChange($event)">
      <radio-button-group-item id="offline" [isChecked]="true">Address</radio-button-group-item>
      <mat-form-field class="input_location_wrapper">
        <input id="meetingAddress" matInput placeholder="Address..." [formControl]="meetingAddress">
      </mat-form-field>
      <radio-button-group-item id="online">Online meeting</radio-button-group-item>
      <mat-form-field class="input_location_wrapper">
        <input id="meetingLink" matInput placeholder="Paste meeting link..." [formControl]="meetingLink">
      </mat-form-field>
    </radio-button-group>
    <div class="agenda_wrapper">
      <h3 class="sub-title">Agenda</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.
      </p>
        <div class="agenda_buttons_wrapper">
          <button mat-stroked-button>Create agenda</button>
          <button mat-stroked-button>Choose file</button>
        </div>
    </div>
    <h3 class="sub-title">Documents</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua.
    </p>
    <doc-uploader (change)="onDocUploaderChange($event)"></doc-uploader>
  </div>
</div>