.main-section_wrapper {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;

  .title {
    margin-bottom: 30px;
  }

  .button-group_wrapper {
    display: flex;
    column-gap: 10px;
  }

  .sub-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }

  .input_wrapper {
    margin: 15px 10px 30px 0;

    &.meeting-name_input_wrapper {
      width: 100%;
    }

    .clear_icon {
      opacity: 0.5;
    }
  }

  ::ng-deep .mat-mdc-select-arrow {
    opacity: 0;
  }

  .time_dash {
    margin: 0 10px;
  }

  .radio-button-group_wrapper {
    display: flex;
    flex-direction: column;

    .input_location_wrapper {
      margin: 0 10px 15px 0;
    }
  }

  ::ng-deep .mdc-text-field--disabled {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .agenda_wrapper {

    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 15px;

    .agenda_buttons_wrapper {
      display: flex;
      column-gap: 10px;
    }
  }

}