.main-section_wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 20px;

  .button-group_wrapper {
    display: flex;
    column-gap: 10px;
  }

  .sub-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }

  .input_wrapper {
    margin: 10px 10px 30px 0;

    &.meeting-name_input_wrapper {
      width: 100%;
    }

    .clear_icon {
      opacity: 0.5;
    }
  }

  ::ng-deep .mat-mdc-select-arrow {
    opacity: 0;
  }

  .time_dash{
    margin: 0 10px;
  }

}