.app-container {

  margin: 0 auto;
  max-width: 1440px;

  .container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;

    app-right-side-section {
      width: 30%;
    }

    app-main-section {
      width: 70%;
    }
  }
}